{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Insolvency Enablement - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>


      <h2 class="govuk-heading-l">1.Notice of Statement of Affairs <span class="govuk-hint">(Form LIQ02)</span></h2>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Insolvency practitioner's name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips Davies
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="applicant-name">
              Change
              <span class="govuk-visually-hidden"> surname</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
                Insolvency practitioner's address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street
            <br>London
            <br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of statement of affairs
          </dt>
          <dd class="govuk-summary-list__value"> 14 December 2020</dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> capacity in which the person is acting in relation to the company</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Statement of affairs by the liquidator under section 95(1A) of the Insolvency Act 1986
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="javascript:void(0)">951A-CompaniesHouseCopy.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> declaration of solvency</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Statement of affairs by a director under section 99(1s) of the Insolvency Act 1986
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="javascript:void(0)">991S-CompaniesHouseCopy.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> statement of assets and liabilities</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Statement of concurrence
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="javascript:void(0)">CONCURRENCE-FINAL-9-dec-2020-V2.doc</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> statement of assets and liabilities</span>
            </a>
          </dd>
        </div>
      </dl>



      <h2 class="govuk-heading-l">2. Extraordinary resolution to wind up <span class="govuk-hint">(form LRESEX)</h2>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Resolution details
          </dt>
          <dd class="govuk-summary-list__value">
            Curabitur lacinia ac ligula nec hendrerit. Duis egestas pulvinar risus, id placerat arcu fermentum eu. Praesent nec nulla mauris. Sed id turpis dui. Morbi viverra rutrum dolor id efficitur. Vivamus vulputate nec mi at tempus. Fusce lectus nisl, imperdiet vel lorem sed, vehicula varius velit. Duis tristique convallis justo, eu pharetra arcu tempus at. Integer sed orci lacus. Etiam at magna id purus blandit tristique in a enim.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> forename(s)</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Date of resolution
          </dt>
          <dd class="govuk-summary-list__value">
            14 Dec 2020
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> surname</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-l">3. Notice of appointment of liquidator in members’ or creditors’ voluntary winding up <span class="govuk-hint">(form 600)</span></h2>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Insolvency practitioner's name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips Davies
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> surname</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
                Insolvency practitioner's address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street
            <br>London
            <br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
                Insolvency practitioner's telephone number
          </dt>
          <dd class="govuk-summary-list__value">01234 567 890  </dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of statement of appointment
          </dt>
          <dd class="govuk-summary-list__value"> 14 December 2020</dd>
          <dd class="govuk-summary-list__actions">
            <a href="javascript:void(0)">
              Change
              <span class="govuk-visually-hidden"> capacity in which the person is acting in relation to the company</span>
            </a>
          </dd>
        </div>


      </dl>






      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
