{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Apply for an insolvency practitioner's code - GOV.UK{% endblock %}
  {% set serviceName %}
    Apply for an insolvency practitioner's code
  {% endset%}
{% block beforeContent %}
{% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="insolvency-practitioner-number">Back</a>
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="javascript:history.back()">
                Change
                <span class="govuk-visually-hidden"> applicant's name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['signin-email'] }}</span>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="javascript:history.back()">
                Change
                <span class="govuk-visually-hidden"> applicant's email address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your IP number
            </dt>
            <dd class="govuk-summary-list__value">
              <p>01234567</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="javascript:history.back()">
                Change
                <span class="govuk-visually-hidden"> insolvency practitioner number</span>
              </a>
            </dd>
          </div>
        </dl>




        <form action="confirmation" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>

        </form>

      </div>
    </div>
{% endblock %}