{% extends "layout.html" %}

{% block pageTitle %}
  Application complete - Apply for an insolvency practitioner's code - GOV.UK{% endblock %}
  {% set serviceName %}
    Apply for an insolvency practitioner's code
  {% endset%}
{% block beforeContent %}
{% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="check-your-insolvency-answers">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent a confirmation email to <span class="govuk-!-font-weight-bold">{{ data['signin-email'] }}</span>
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We will email you your insolvency practitioner’s code to <span class="govuk-!-font-weight-bold">{{ data['signin-email'] }}</span> within [time frame].</p>
      <p>If you do not receive an email within [time frame], email <a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a>.</p>
      <p><a href="javascript:void(0)">What did you think of this service?</a> (takes 2 minutes)</p>
    </div>
  </div>
{% endblock %}