{% extends "layout.html" %}

{% block pageTitle %}
View company information - Insolvency Enablement - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">View company information
      </h1>
      <h2 class="govuk-heading-l">
        A TEST COMPANY LIMITED
      </h2>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Company number</th>
            <td class="govuk-table__cell ">{{ data['which-company'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Status</th>
            <td class="govuk-table__cell ">Active</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Incorporation date</th>
            <td class="govuk-table__cell ">13 May 2010</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Company type</th>
            <td class="govuk-table__cell ">Private Limited Company</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" style="vertical-align: top;">Registered office address</th>
            <td class="govuk-table__cell ">1 Any Street<br>Anytown<br>London<br>AB12 3CD<br>United Kingdom
            </td>
          </tr>
        </tbody>
      </table>


      {{ govukButton({
      text: "Confirm and continue",
      href: "company-authentication"
    }) }}

      <p>
        <a href="choose-company">Choose a different company</a>
      </p>
    </div>
  </div>
{% endblock %}
