{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation - Insolvency Enablement - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent a confirmation email to <span class="govuk-!-font-weight-bold">{{ data['signin-email'] }}</span>
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Vivamus in ultricies est, id egestas quam. Duis pulvinar pharetra mollis. Pellentesque aliquam libero in interdum ultricies. Nam vel enim accumsan, consectetur enim sed, hendrerit nunc.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
