{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Title - Apply for an insolvency practitioner's code - GOV.UK{% endblock %}
  {% set serviceName %}
    Apply for an insolvency practitioner's code
  {% endset%}
{% block beforeContent %}
{% include "includes/phase-banner.html" %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="javascript:void(0)">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  <a class="govuk-back-link" href="organisation-name">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Confirm this is the correct organisation
      </h1>
      <h2 class="govuk-heading-l">
        A TEST ORGANISATION LIMITED
      </h2>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Organisation number</th>
            <td class="govuk-table__cell ">{{ data['which-company-to-close'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Status</th>
            <td class="govuk-table__cell ">Active</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Incorporation date</th>
            <td class="govuk-table__cell ">13 May 2010</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Organisation type</th>
            <td class="govuk-table__cell ">Private Limited Organisation</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" style="vertical-align: top;">Registered address</th>
            <td class="govuk-table__cell ">1 Any Street<br>Anytown<br>London<br>AB12 3CD<br>United Kingdom
            </td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-button-group">
        {{ govukButton({
            text: "Choose a different organisation",
            href: "organisation-name",
            classes: "govuk-button--secondary"
        }) }}

        {{ govukButton({
            text: "Confirm and continue",
            href: "applicant-address"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}