{% extends "layout.html" %}

{% block pageTitle %}
  Your insolvency practitioner number - Apply for an insolvency practitioner's code - GOV.UK{% endblock %}
  {% set serviceName %}
    Apply for an insolvency practitioner's code
  {% endset%}
{% block beforeContent %}
{% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="applicant-email-address">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="check-your-insolvency-answers" method="post" novalidate>

    {{ govukInput({
      label: {
        text: "What is your insolvency practitioner (IP) number?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: "This number is issued to you by the insolvency service and is 4 or 5 characters in length"
      },
        id: "insolvency-practitioner-number",
        name: "insolvency-practitioner-number",
        spellcheck: false
    }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}