{% extends "layout.html" %}

{% block pageTitle %}
  Give notice of statutory declaration of solvencyn - Insolvency Enablement - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="LIQ01-5" method="get">


        {{ govukTextarea({
          name: "liq01capacity",
          id: "liq01capacity",
          label: {
            text: "Capacity in which the person is acting in relation to the company",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "Here's some hint text, if needed"
          }
        }) }}





      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>
{% endblock %}
