{% extends "layout.html" %}

{% block pageTitle %}
  Give notice of statutory declaration of solvencyn - Insolvency Enablement - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="check-your-answers" method="get">

        <span class="govuk-caption-xl">Form LIQ01</span>
        <h1 class="govuk-heading-xl">Give notice of statutory declaration of solvency</h1>

        {{ govukTextarea({
          name: "liq01capacity",
          id: "liq01capacity",
          label: {
            text: "Capacity in which the person is acting in relation to the company",
            classes: "govuk-label--l",
            isPageHeading: false
          },
          hint: {
            text: "Here's some hint text, if needed"
          }
        }) }}


        <h2 class="govuk-heading-l">Attachments</h2>
        <p class="govuk-hint">Some help text around attachments and file uploading, if needed</p>

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Declaration of solvency",
            classes: "govuk-label--m"
          }
        }) }}


        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Statement of assets and liabilities",
            classes: "govuk-label--m"
          }
        }) }}



      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>
{% endblock %}
