{% extends "layout.html" %}

{% block pageTitle %}
  Give notice of statutory declaration of solvencyn - Insolvency Enablement - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="LIQ01-2" method="get">

        <span class="govuk-caption-xl">Form LIQ01</span>
        <h1 class="govuk-heading-xl">Give notice of statutory declaration of solvency</h1>


        {% call govukFieldset({
          legend: {
            text: "Who is the liquidator?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}


          {{ govukInput({
            label: {
              text: "Forename(s)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address-town"
          }) }}

          {{ govukInput({
            label: {
              text: "Surname"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-county",
            name: "address-county"
          }) }}


        {% endcall %}

        {% call govukFieldset({
          legend: {
            text: "What is the liquidator's address?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "address-line-1",
            name: "address-line-1"
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: "address-line-2",
            name: "address-line-2"
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address-town"
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-county",
            name: "address-county"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "address-postcode"
          }) }}

        {% endcall %}

        {{ govukDetails({
          summaryText: "I need to add another Insolvency Practitioner",
          text: "To be added"
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

</form>
    </div>
  </div>
{% endblock %}
