{% extends "layout.html" %}

{% block pageTitle %}
  Give notice of statutory declaration of insolvency - Insolvency Enablement - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="LIQ01-4" method="get">



        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "changed-name",
          name: "changed-name",
          fieldset: {
            legend: {
              text: "Do you need to add another insolvency practitioner?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "You can add up to X insolvency practitioners"
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              disabled: true
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

</form>
    </div>
  </div>
{% endblock %}
