{% extends "layout.html" %}

{% block pageTitle %}
  Your organisation - Apply for an insolvency practitioner's code - GOV.UK{% endblock %}
  {% set serviceName %}
    Apply for an insolvency practitioner's code
  {% endset%}
{% block beforeContent %}
{% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="applicant-name">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="confirm-the-organisation" method="post">

    {{ govukInput({
      label: {
        text: "What is the name of your organisation?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: "This the organisation that you work for."
      },
      id: "event-name",
      name: "event-name"
    }) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}