{% extends "layout.html" %}

{% block pageTitle %}
  What is the company number?
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}
{% block content %}

  <main id="content" role="main">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/forms/DS01/sole-director-v2/confirm-the-company" method="get">

          <h1 class="govuk-heading-xl">What is the company number?
          </h1>
          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "This is the 8 character reference issued by Companies House when the company was set up. "
            },
            id: "which-company-to-close",
            classes: " govuk-!-width-one-quarter",
            name: "which-company-to-close"
          }) }}

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with company number
              </span>
            </summary>
            <div class="govuk-details__text">
              You can find the company number by using the
              <a href="http://beta.companieshouse.gov.uk/" target="_blank">
                Companies House Service (opens in a new tab)</a>.
            </div>
          </details>

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
        text: "Continue"
      }) }}
        </form>
      </div>
    </div>
  </main>

{% endblock %}