
{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts - Insolvency Enablement Prototype - GOV.UK.
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Insolvency Enablement Prototype
        <span class="govuk-caption-xl">Version 1</span>
      </h1>

      <h3 class="govuk-heading-m">Start</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start">GOV.UK start page</a>
        </li>
        <li>
          <a href="/forms/choose-form-type">Choose form type</a>
        </li>

        <li>
          <a href="/forms/choose-members-voluntary-liquidation">Choose form type (members voluntary liquidation)</a>
        </li>
        <li>
          <a href="/forms/sign-in">Sign in to Companies House</a>
        </li>
        <li>
          <a href="/forms/choose-company">What is the company number?</a>
        </li>
        <li>
          <a href="/forms/confirm-company">View company information</a>
        </li>
        <li>
            <a href="/forms/company-authentication">Company authentication</a>
          </li>

          </ul>
          <h3 class="govuk-heading-m">Members voluntary liquidation</h3>
          <ul class="govuk-list govuk-list--bullet">


          <li>
          <a href="/forms/LIQ01-1">Who is the liquidator?</a>
        </li>
        <li>
          <a href="/forms/LIQ01-2">What is the liquidator's address?</a>
        </li>
        <li>
        <a href="/forms/LIQ01-3">Do you need to add another insolvency practitioner?</a>
      </li>
      <li>
      <a href="/forms/LIQ01-4">Capacity in which the person is acting in relation to the company</a>
    </li>
    <li>
    <a href="/forms/LIQ01-5">Attachments</a>
  </li>

        </ul>
        <h3 class="govuk-heading-m">Check then submit</h3>
        <ul class="govuk-list govuk-list--bullet">

              <li><a href="/forms/check-your-answers">Check your answers</a>
        </li>
        <li>
          <a href="/forms/confirmation">Application complete</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Emails</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/emails/application-received">Application received</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
