
{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts - Insolvency Enablement Prototype - GOV.UK.
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Insolvency Enablement Prototype
        <span class="govuk-caption-xl">Version 2</span>
      </h1>

      <h3 class="govuk-heading-m">Start</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start">GOV.UK start page</a>
        </li>
        <li>
          <a href="/forms/choose-form-type">Choose form type</a>
        </li>

        <li>
          <a href="/forms/choose-members-voluntary-liquidation">Choose form type (members voluntary liquidation)</a>
        </li>
        <li>
          <a href="/forms/sign-in">Sign in to Companies House</a>
        </li>
        <li>
          <a href="/forms/choose-company">What is the company number?</a>
        </li>
        <li>
          <a href="/forms/confirm-company">View company information</a>
        </li>
        <li>
            <a href="/forms/company-authentication">Company authentication</a>
          </li>

          </ul>
          <h3 class="govuk-heading-m">Members voluntary liquidation</h3>
          <ul class="govuk-list govuk-list--bullet">


          <li>
          <a href="/forms/LIQ01-1">Who is the insolvency practitioner?</a>
        </li>
        <li>
          <a href="/forms/LIQ01-2">What is the insolvency practitioner's address?</a>
        </li>
        <li>
        <a href="/forms/LIQ01-3">Do you need to add another insolvency practitioner?</a>
      </li>
      <li>
      <a href="/forms/LIQ01-4">Capacity in which the person is acting in relation to the company</a>
    </li>
    <li>
    <a href="/forms/LIQ01-5">Attachments</a>
  </li>

        </ul>
        <h3 class="govuk-heading-m">Check then submit</h3>
        <ul class="govuk-list govuk-list--bullet">

              <li><a href="/forms/check-your-answers">Check your answers</a>
        </li>
        <li>
          <a href="/forms/confirmation">Application complete</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Emails</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/emails/application-received">Application received</a>
        </li>
      </ul>


  </div>
        <div class="govuk-grid-column-full">

      <table class="govuk-table govuk-!-margin-top-10">
        <caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Changes</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a href="https://insolvency-prototype-v1.herokuapp.com/">Version 1</a></th>
              <td class="govuk-table__cell">N/A</td>
              <td class="govuk-table__cell">
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Changes included in version 1
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list--bulletlist">
                      <li>
  First version, purely for stakeholder discussion
                      </li>
                    </ul>
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Proof of concept
                </strong>
              </td></tr>

                </tbody>
              </table>





    </div>
  </div>

{% endblock %}
