
{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts - Insolvency Enablement Prototype - GOV.UK.
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Insolvency Enablement Prototype
        <span class="govuk-caption-xl">Version 1</span>
      </h1>{{releaseVersion | log }}

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start">Start page</a>
        </li>
        <li>
          <a href="/forms/choose-form-type">Choose form type</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Members voluntary liquidation</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/forms/choose-members-voluntary-liquidation">Choose form type (members voluntary liquidation)</a>
        </li>
        <li>
          <a href="/forms/sign-in">Sign in to Companies House</a>
        </li>
        <li>
          <a href="/forms/choose-company">What is the company number?</a>
        </li>
        <li>
          <a href="/forms/confirm-company">View company information</a>
        <li>
          <a href="/forms/LIQ01-1">Give notice of statutory declaration of solvency (LIQ01) - part 1</a>
        </li>
        <li>
          <a href="/forms/LIQ01-2">Give notice of statutory declaration of solvency (LIQ01) - part 2</a>
        </li>
        <li>
          <a href="/forms/check-your-answers">Check your answers</a>
        </li>
        <li>
          <a href="/forms/confirmation">Application complete</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
